extends ../layouts/commonLogin

block content
    .container-fluid.main-form
        form.form-login(method="POST")
            span
                h1.mb-4(style='text-align:center;') Welcome
            if errors
                each error in errors
                    .text-center.danger.alert-danger.bg-transparent= error

            .form-group.row.mt-3.mx-0
                label.col-sm-2.col-form-label(for='staticEmail') Email
                .col-sm-12.px-0
                    input#staticEmail.form-control(name= 'email', type='text', placeholder='Email',value=values ? values.email:"")
            .form-group.row.m-0
                label.col-sm-2.col-form-label(for='inputPassword') Password
                .col-sm-12.px-0.mb-2
                    input#inputPassword.form-control(name= 'password', type='password', placeholder='Password',value=values ? values.email:"")
            .login-button.mt-3
                button.btn.btn-primary(name='', id='', type='submit', value='login') Login
            div
            .select
                div
                    input(type='checkbox', value='')
                    small.ml-1 remember me
                div
                    input(type='checkbox', value='')
                    small.ml-1 appear password
            .mt-4
            small
                | No have Account Yet 
                a(href='#') Click Here
        