extends ../layouts/common

block content
  
  .card.border-success.mt-3.mb-3(style='max-width: 18rem;')
    .card-header Name
    .card-body.text-success
      h5.card-title
      p.card-text
        span= user.name





//-  h5 view Users
//-  p
//-   b name
//-   span.badge.badge-secondary= user.name
